<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="frame_color">
        <material name="cframe">
            <color rgba="0.90 0.90 0.90 1.0"/>
        </material>
    </xacro:macro>

    <xacro:macro name="g_frame_color">
        <material>Gazebo/Grey</material>
    </xacro:macro>
</robot>